/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #ffffff00;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo h1 {
    color: #bb943a;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
}

.nav-links a {
    text-decoration: none;
    color: #e7e7e7;
    margin-left: 30px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    position: relative;
    transition: color 0.3s ease;
}

.nav-links a::after { /* Under line */
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #fad274;
    left: 0;
    bottom: -4px;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:active {
    color: #9d9d9d;
}

.nav-links a:active::after {
    width: 100%;
}


/* Welcome */
.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.headline {
    margin-left: 10%;
}

.headline h1 {
    color: #efc664;
    text-shadow: 0px 0px 21px rgba(239, 198, 100, 0.5);
    font-size: 10rem;
    margin: auto;
}

.headline h2 {
    color: #e3be69;
    margin-left: 30%;
    margin-right: auto;
}

.profil-img {
    margin: 5%;
}

.profil-img img {
    width: 500px;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
    box-shadow: 0px 0px 150px 30px rgba(209,165,66,0.75);
    -webkit-box-shadow: 0px 0px 150px 30px rgba(209,165,66,0.75);
    -moz-box-shadow: 0px 0px 150px 30px rgba(209,165,66,0.75);
}

#typed-text::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}
