.headline {
  text-align: center;
  padding: 50px;
}

.headline h1 {
  color: #efc664;
  text-shadow: 0px 0px 21px #efc66480;
  font-size: 7rem;
  margin: auto;
}

.headline span {
  color: #e2ca91;
  margin: auto;
  font-size: 2rem;
}

.contact-main {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
  display: flex;
  gap: 3rem;
  font-family: Arial, sans-serif;
  color: #bcbcbc;
}

.contact-left,
.contact-right {
  flex: 1;
}

.contact-left h2,
.contact-right h2 {
  margin-bottom: 1rem;
  color: #b7964a;
  font-size: 1.75rem;
}

.contact-box {
  padding: 1rem;
  border-left: 3px solid #444;
  margin-bottom: 1.5rem;
  border-radius: 4px;
}

.contact-box h3 {
  margin: 0 0 0.5rem;
  color: #8c733a;
  font-size: 1.25rem;
}

.contact-right p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.note-box {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 4px;
  border-left: 3px solid #444;
}

.link-btn {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  color: #d0af64;
  background: #303030;
  border-radius: 25px;
  transition: all 0.3s;
}

.link-btn:hover {
  background: #d0af64;
  color: #303030;
  transform: scale(1.03);
}

.link-btn:active {
  transform: scale(1);
  background: #e8c470;
  color: #242424;
}
